{% extends "base.html" %}

{% block title %} Index {% endblock %}

{% block body_block %}
    <form method="post" action="/" id="form">
        {% csrf_token %}
        <div class="input-group">
            {% if query %}
                <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control" name="query" id="query" value="{{ query }}">
            {% else %}
                <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control" name="query" id="query" placeholder="Search YouTube...">
            {% endif %}
            <span class="input-group-addon" id="basic-addon2" style="cursor: pointer;">Search</span>
        </div>
    </form>
    <br>
    <div id="player" style="display: none;"></div>
    <div style="display: none;" id="add_form">
        <form class="form-inline" id="add_to_queue" data-videoId="" data-title="">
            <div class="form-group">
            <label for="playlist_select">Playlist: </label>
            <select class="form-control" id="playlist_select">
                {% for playlist in playlists %}
                    <option>{{ playlist.name }}</option>
                {% endfor %}
            </select>
            </div>
            <input class="btn btn-default" type="submit" value="Download">
        </form>
        <br>
    </div>

    {% if videos %}
    <div class="list-group">
        {% for video in videos %}
        <button type="button" class="list-group-item select_video" data-videoId="{{ video.videoId }}" data-title="{{ video.title }}">
            <div class="row">
                <div class="col-xs-4 col-md-3">
                    <img src="https://i.ytimg.com/vi/{{video.videoId}}/mqdefault.jpg" width="100%" height="auto">
                </div>
                <div class="col-xs-8 col-md-9">
                    <h5 class="list-group-item-heading">{{ video.title }}</h5>
                    {{ video.duration }}  -  {{ video.viewCount }} views
                    <p class="list-group-item-text">{{ video.description }}</p>
                </div>
            </div>
        </button>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}

{% block side_block %}
    <ul class="list-group">
        <h4 class="list-group-item-heading">Recent Downloads</h4>
        {% if songs %}
            {% for song in songs %}
            <li class="list-group-item">
                {{ song.name }}<br>
                Save to: {{ song.playlist.name }}
            </li>
            {% endfor %}
        {% endif %}
    </ul>
    <h5 id="loading" style="display: none; margin-left: 8px;"> Downloading...</h5>
{% endblock %}