{% extends "base.html" %}

{% block title %} Index {% endblock %}

{% block body_block %}
    <form method="post" action="/" id="form">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" class="form-control" name="query" id="query" placeholder="Search YouTube...">
            <span class="input-group-addon" id="basic-addon2" style="cursor: pointer;">Search</span>
        </div>
    </form>
    <br>
    <div id="player" style="display: none;"></div>

    <div class="list-group">
    {% if videos %}
        {% for video in videos %}
        <button type="button" class="list-group-item select_video" data-videoId="{{ video.videoId }}" >
            <div class="row">
                <div class="col-md-3">
                    <img src="https://i.ytimg.com/vi/{{video.videoId}}/mqdefault.jpg" width="150px" height="95px">
                </div>
                <div class="col-md-9">
                    <h5 class="list-group-item-heading">{{ video.title }}</h5>
                    {{ video.duration }}  -  {{ video.viewCount }} views
                    <p class="list-group-item-text">{{ video.description }}</p>
                </div>
            </div>
        </button>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}